@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.review-detail-container {
  text-align: center;
  margin: 50px auto;
}

.review-detail-container h6 {
  color: #333;
  font-size: 25px;
}

.reviewDetailsDiv {
  height: auto;
  width: 1500px;
  overflow: hidden;
  margin: 20px auto;
  background-color: #fff;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-item {
  margin-bottom: 15px;
}

.details-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.details-content {
  margin-bottom: 15px;
}

 .details-item img {
  width: 328px;
  height: 500 px;
  border-radius: 8px;
} 

.delete-btn .edit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8a7c35;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.details-item p {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}

.buttons a {
  background-color: #8a7c35;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 10px;
  color: white;
  font-family: 'Times New Roman', serif;
}
 .buttons button {
  background-color: #8a7c35;
  padding: 15px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  border: none;
  font-family: 'Times New Roman', serif;
} 

.buttons {
  display: flex;
  justify-content: space-evenly;
  transition: background-color 0.3s;
}

.buttons a:hover {
  background-color:   #574e20;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.delete-modal p {
  margin-bottom: 20px;
}

.confirm-delete-btn,
.cancel-delete-btn {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.confirm-delete-btn {
  background-color: #ff3b3b;
  color: white;
  border: none;
}

.cancel-delete-btn {
  background-color: #ccc;
  color: #333;
  border: none;
}