.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

/* Style for the left section of the top bar */
.topLeft {
  display: flex;
  align-items: center;
}

.topIcon {
  margin-right: 10px;
  font-size: 20px;
}

/* Style for the center section of the top bar */
.topCenter {
  display: flex;
  align-items: center;
  flex: 1; /* Take up remaining space in the center */
}

.noUser {
  display: flex;
  align-items: center;
}

.noUser a {
  color: rgb(255, 243, 243);
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

/* Style for the right section of the top bar */
.topRight {
  display: flex;
  align-items: center;
}

.loginRegister a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.topImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  margin-left: 800px;
}

.profile p,
.profile span {
  margin: 5px 0;
  font-size: 14px;
  margin-right: 10px;
  
}

.topList {
  display: flex;
  align-items: center;
}

.topList a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.topListItem {
  margin: 0 10px;
}

.topListItem a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.topLeft a {
  text-decoration: none;
  color: white;
}