.footerr {
  background-color: rgb(184, 136, 70);
  color: black;
  font-weight: bolder;
  text-align: center;
  padding: 25px;
  /* position: fixed; */
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border:white;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer-nav li {
    margin-right: 20px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #ff9900; 
  }
  